div.main {
    display: inline-block;
    /* background: lightcoral; */
    width :100 px;
    height : 100 px;
    border-radius: 3px;
    border: 1px solid lightgray;
}
div.top{
    border-bottom: 1px solid lightgray;
}
div.top p {
    font-size: 13px;
    line-height: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
}

div.middle > p {
    font-size: 13px;
    line-height: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    padding-bottom: 0px;
}

h3 {
    padding-left: 10px;
    font-size: 16px;
}
img {
    border-radius: 100%;
    margin-left: 10px;
}

.pic, .description {
    display: inline-block;
}

div.description p:first-child {
    font-weight: bold;
}
div.description p {
    font-size: 13px;
    margin: 5px;
    padding-bottom:0px;
    margin-bottom:0px;
    padding: 0;
}
div.description span {
    font-size: 13px;
    margin: 5px;
    margin-top: 110px;
    padding: 0;
    color: lightgray;
}
.right {
    display: inline-block;
    float: right;
    padding-right: 10px;
    font-size: 14px;
}
.left {
    display: inline-block;
}
.person {
    padding-bottom: 10px;
}