*{
    box-sizing: border-box;
}

main{
    margin:0 auto;
    width:auto;
    display:flex;
    flex-direction: column;
}

.row{
    display:flex;
    margin-bottom: 30px;
}

.col-1{
    flex-grow: 1;
    height: 220px;
    background-color: gray;
}

.col-2{
    flex-grow: 1;
    height: 100px;
    background-color: gray;
}
.col-3{
    flex-grow: 3;
    height: 220px;
    background-color: gray;
}
.col-4{
    flex-grow: 1;
    height: 220px;
    background-color: gray;
}

.col-5{
    flex-grow:1;
    height:220px;
    background-color:gray;
}


.row > div{
    margin-right: 30px;
}