main , div {
    border-style: solid;
    width: 1600px;
    margin: auto;
    clear: both;
    background: transparent;
}
.div1 {
    float: left;
    height: 350px;
    width: 120px;
    background-color: #fff;
}
.div2 {
    float: left;
    height: 100px;
    width: 220px;
    margin-top: -22.3%;
    margin-left: 9%;
    background-color: rgb(255,238,169);
}

.div3{
    float: left;
    height: 100px;
    width: 145px;
    margin-top: -22.3%;
    margin-left: 24%;
    background-color: rgb(255,238,169);
}
.div4{
    float: left;
    width: 120px;
    height: 230px;
    background-color: rgb(255,238,169);
    margin-top: 10px;
}

.div5{
    float: left;
    height: 229px;
    width: 220px;
    margin-top: -30.3%;
    margin-left: 9%;
    background-color: rgb(255,238,169);
}

.div6{
    float: left;
    height: 230px;
    width: 220px;
    margin-left: 9%;
    margin-top: -14.9%;
}

.div7{
    height: 478px;
    float: left;
    width: 145px;
    margin-top: -30.3%;
    margin-left: 24%;
    background-color: black;
}

.div8 {
    height: 159px;
    float: left;
    width: 530px;
    margin-top: 10px;
   
}

.div9{
    height: 159px;
    float: left;
    width: 530px;
    margin-top: 10px;
    background-color: rgb(139,172,225);
}

.div10{
    height: 270px;
    float: left;
    width: 530px;
    margin-top: 10px;
    background-color: black;
}
.div11 {
    float: left;
    height: 350px;
    width: 120px;
    margin-top: 10px;
    background-color: #fff;
}
.div12{
    float: left;
    height: 64px;
    width: 231px;
    margin-top: -22.4%;
    margin-left: 8.5%;
    background-color: rgb(199,55,55);
}
.div13 {
    height: 270px;
    float: left;
    width: 233px;
    margin-top: -17.3%;
    margin-left: 8.5%;
    background-color: rgb(254,205,6);
}
.div14 {
    float: left;
    height: 350px;
    width: 137px;
    margin-top: -22.3%;
    margin-left: 24.5%;
    background-color: rgb(255,238,169);
}

.div15 {
    float: left;
    height: 100px;
    width: 430px;
    margin-top: -100.5%;
    margin-left: 35%;
    background-color: #fff;
}

.div16 {
    height: 478px;
    float: left;
    width: 430px;
    margin-top: -93.2%;
    margin-left: 35%;
    background-color: rgb(139,172,225);
}
.div17 {
    height: 478px;
    float: left;
    width: 430px;
    margin-top: -93.2%;
    margin-left: 35%;
    background-color: rgb(139,172,225);
}
.div18 {
    height: 619px;
    float: left;
    width: 215px;
    margin-top: -62.2%;
    margin-left: 35%;
    background-color: rgb(255,238,169);
}
.div19 {
    height: 119px;
    float: left;
    width: 192px;
    margin-top: -62.2%;
    margin-left: 50%;
    background-color: rgb(255,238,169);
}
.div20 {
    height: 474px;
    float: left;
    width: 192px;
    margin-top: -53.2%;
    margin-left: 50%;
    background-color: rgb(254,205,6);
}
.div21 {
    float: left;
    height: 350px;
    width: 430px;
    margin-left: 35%;
    margin-top: -22.3%;
}
.div22{
    float: right;
    height: 200px;
    width: 250px;
    margin-right: 21%;
    margin-top: -100.5%;
    background-color: rgb(255,238,169);
}
.div23{
    float: right;
    height: 300px;
    width: 42px;
    margin-right: 17%;
    margin-top: -100.5%;
   
}

.div24{
    float: right;
    height: 76px;
    width: 250px;
    margin-right: 21%;
    margin-top: -86.5%;
    background-color: rgb(254,205,6);
}
.div25{
    float: right;
    height: 273px;
    width: 311px;
    margin-right: 17%;
    margin-top: -80.5%;
    background-color: rgb(255,238,169);
}
.div26 {
    float: right;
    height: 592px;
    width: 156px;
    margin-right: 5%;
    margin-top: -100.5%;
    background-color: rgb(199,55,55);
}
.div27 {
    float: right;
    height: 592px;
    width: 54px;
    margin-right: 0%;
    margin-top: -100.5%;
    background-color: rgb(255,238,169);
}
.div28 {
    float: right;
    height: 182px;
    width: 54px;
    margin-right: 0%;
    margin-top: -61.5%;
}

.div29 {
    float: right;
    height: 182px;
    width: 503px;
    margin-right: 5%;
    margin-top: -61.5%;
    background-color: black;
}

.div30 {
    float: right;
    height: 182px;
    width: 54px;
    margin-right: 0%;
    margin-top: -48.5%;
    background-color: rgb(255,238,169);
}
.div31 {
    float: right;
    height: 182px;
    width: 154px;
    margin-right: 5%;
    margin-top: -48.5%;
    background-color: rgb(255,238,169);
}
.div32 {
    float: right;
    height: 182px;
    width: 323px;
    margin-right: 16%;
    margin-top: -48.5%;
    background-color: rgb(255,238,169);
}

.div33 {
    float: right;
    height: 222px;
    width: 348px;
    margin-right: 0%;
    margin-top: -35.5%;
    background-color: rgb(255,238,169);
}
.div34 {
    float: right;
    height: 138px;
    width: 348px;
    margin-right: 0%;
    margin-top: -20.5%;
    background-color:blue;
}
.div35 {
    float: right;
    height: 376px;
    width: 201px;
    margin-right: 23%;
    margin-top: -35.5%;
    background-color: red;
}
.div36 {
    float: right;
    height: 160px;
    width: 568px;
    margin-right: 0%;
    margin-top: -10.5%;
    background-color: rgb(255,238,169);
}